---
export interface Props {
  title: string;
}

const {
  title,
  description = "Portfolio Fran López - Desarrollador Front-End",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fl.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:site_name" content={description} />
    <meta property="og:url" content="https://franlopez.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <link rel="stylesheet" href="src/globalstyles/Root.css" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
